{% block content %}

<hr>

<p>{{hello_world}}</p>

<hr>

<form action="{% url 'bot:Eat' %}" method="POST">

	{% csrf_token %}
	<button type="submit">Eat</button>
	

</form>

<form action="{% url 'bot:GoToTheHospital' %}" method="POST">

	{% csrf_token %}

	<button type="submit">GoToTheHospital</button>
	

</form>

<form action="{% url 'bot:GoToTheShop' %}" method="POST">

	{% csrf_token %}

	<button type="submit">GoToTheShop</button>
	

</form>

<form action="{% url 'bot:GoToTheWork' %}" method="POST">

	{% csrf_token %}

	<button type="submit">GoToTheWork</button>
	

</form>

<form action="{% url 'bot:Sleep' %}" method="POST">

	{% csrf_token %}

	<button type="submit">Sleep</button>
	

</form>

<form action="{% url 'bot:ReturnAll' %}" method="POST">

	{% csrf_token %}

	<button type="submit">ReturnAll</button>
	

</form>

{% endblock %}






